.body{
    background-color:#FFEDE6 ;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #64483E ;
    text-align: center;

}

.h1 {
    font-size: 100%;
    word-break: break-all;
    padding-left: auto;
    padding-left: auto;

}

.BUTTON{
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}



.BUTTON:hover{
    background-color: #ddd;

}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.Art {
    text-align: center;
  }

.console {
    text-align: center;
}

.nature {
    text-align: center;
}